<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{poll.poll_name}}</title>
</head>
<body>


    {% block content %}
        <form method="post" enctype="multipart/form-data">
            <h2>Poll: {{poll.poll_name}}</h2>
            {% csrf_token %}
            {% for item in data %}
                <h3>{{ item.question_text }}</h3>
                {% if item.question_type == 'One' %}
                    {% for elem in item.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{item.question_text}}" id="exampleRadios1" value="{{elem.answer_text}}" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                {{ elem.answer_text }}
                            </label>
                        </div>
                    {% endfor %}

                {% elif item.question_type == 'Many' %}
                    {% for elem in item.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{item.question_text}}" value="{{elem.answer_text}}" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              {{ elem.answer_text }}
                            </label>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="form-group">
                        <input id="question-text" type="text" name="{{item.question_text}}">
                    </div>
                {% endif%}
            {% endfor %}
            <input id="quiz-submit" type="submit">
        </form>
    {% endblock %}


</body>
</html>